button {
  background-color: var(--color-secondary);
  color: var(--color-white);
  border-radius: 5px;
  min-width: 180px;
  font-size: 16px;
  min-height: 48px;
  border: none;
  cursor: pointer;
}
