/* Globals */
/* I know these can be done with Scss, but I was having a hard time */
/* Getting them to be build then shared amoungst my svelte components */

:root {
  --color-secondary: #ff3266;
  --color-primary: #2b8dff;
  --color-dark: #1c202f;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-background: #f8f8f8;
  --color-background-dark: #060a1b;
}

html,
body,
main {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

p {
  font-size: 16px;
}
div {
  text-align: center;
}

.screen {
  padding: 5px;
}

.link-text {
  color: var(--color-secondary);
  cursor: pointer;
}

.top-logo {
  width: 193px;
  height: 38px;
  margin-top: 10px;
}

.center-image {
  width: 226px;
  height: 278px;
}

.focused-font {
  font-size: 18px;
}
