html,
body,
main {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

p {
  font-size: 16px;
}
div {
  text-align: center;
}

.screen {
  padding: 5px;
}

.link-text {
  color: var(--color-secondary);
  cursor: pointer;
}

.top-logo {
  width: 193px;
  height: 38px;
  margin-top: 10px;
}

.center-image {
  width: 226px;
  height: 278px;
}

.focused-font {
  font-size: 18px;
}
