.onboarding {
  // This was the closest I got to getting Scss working globally
  background-color: var(--color-background-dark);
  color: var(--color-white);
  text-align: center;
  min-height: 100%;
  overflow: scroll;
}
