:global() {
  $color-secondary: #ff3266;
  $color-primary: #2b8dff;
  $color-dark: #1c202f;

  $color-white: #ffffff;
  $color-black: #000000;

  $color-background: #f8f8f8;
  $color-background-dark: #060a1b;
}
